/*  your css code here. If applicable */
nav{
	background-color: #011e29;
	text-align: center;
}
.head{
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.sec-1{
	width: 30%;
}
.sec-2{
	width: 30%;
}
.sec-3{
	width: 30%;
}
.sec-3 img{
	width: 100px;
	height: 100px;
}

